body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.header,.footer{
    background-color: #1F2937;

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}
.textHeader{
    font-size: 48px;
    font-weight: 900;
   color: #F9FAF8;
}
.headerSubtext{
    font-size: 18px;
   color: #E5E7EB;
}

.signup-button{
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 5px 18px;
    border-radius: 12px;
    border: 0;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
   color: #E5E7EB;
   padding: 0;
  
}
li.logo{
    margin-right: auto;
}
.contained{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image_list{
    display: flex;
    justify-content: center;
    gap:10px;

}
.picture{
    width:100px;
    height: 100px;
    border: 5px solid palevioletred;
    border-radius: 12px;
    margin: auto;
}
.center_div{
    text-align: center;
    padding-left:50px;
    padding-right:50px;
}

h5{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-size: 10px;
}

.quote_section{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding-left: 50px;
    padding-right: 50px;
   
    
}
.quote{
    text-align: center;
}
.autor{
    text-align: right;
}
.footer{
    text-align: center;
    color: #E5E7EB;
    padding: 0;

}
.signup-button.board{
    border-width: 2px;
    border-color: #E5E7EB;
    border-style: solid ;
    padding-top: 0;
    padding-bottom:0 ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.last_section{
    display: flex;
    justify-content: center;
    gap:40px;
    background-color: #3882F6;
    margin: 30px;
    padding: 20px 40px;
    border-radius: 12px;
}